body {
    background-color: #F8F8F8;

    @media (max-width:1250px) {
        .info {
            display: flex;
            text-align: center;

        }

        .dashboard {
            display: none;
        }
    }
}